<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aqla.runsharp" version="1.0.0.19" targetFramework="net461" />
  <package id="CallMeMaybe" version="0.6.2" targetFramework="net461" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net461" />
  <package id="Jal.AssemblyFinder" version="1.1.0.0" targetFramework="net461" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net461" />
</packages>